body{
    font-family: Arial, sans-serif;
    background: #fff;
}

.container {
   max-width: 600px;
   margin: 20px auto;
}

.textarea-container {
    position: relative;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 5px 5px;
    box-sizing: border-box;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: none;
    outline: none;
}

textarea.limit-reached {
    border-color: red;
}

#counter {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 14px;
    color: #666;
}
